:root {
  --primary-color: #7a8dfd;
  --secondary-color: #dde2ff;
}

body {
  margin: 0;
  font-size: large;
  font-family: "Roboto", sans-serif;
  background-color: #f2f3fc;
}

header {
  padding: 0 4rem;
  border-bottom: 0.06rem solid var(--secondary-color);
}

.todo-app__header {
  height: 4.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__branding {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding__title {
  color: var(--primary-color);
  font-size: 2.3rem;
  padding-left: 0.025rem;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__icon {
  cursor: pointer;
}

.search__box {
  display: none;
  transition: all 0.3s ease;
}

.search__box input {
  padding: 0.25rem;
  margin: 0 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
}

.show-search-box .search__box {
  display: block;
}

.show-search-box .search__box input {
  width: 80%;
  height: 1rem;
}

.task-container {
  margin: 0;
  padding: 0 4rem;
}

.task-container__heading {
  margin-top: 4rem;
}

.task_container__create-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container__add-button {
  width: 6.5rem;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container__filter {
  display: flex;
  justify-content: end;
}

#filter {
  width: 100%;
  font-size: large;
}

.task-container__filter {
  display: flex;
}

.filter-tab {
  color: #32394b;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 0.063rem solid #dde2ff;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

.filter-tab[disabled] {
  cursor: not-allowed;
  color: #616164;
}

.filter-tab.selected {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.25rem;
}

.task-item__card1-button-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.errorText {
  color: red;
}

.task-container__initial-state {
  text-align: center;
  cursor: pointer;
}

.task-container__task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.task-container__task-item {
  padding: 1rem;
  align-items: center;
  background-color: #ffffff;
  border: 0.063rem solid var(--secondary-color);
  border-radius: 0.25rem;
}

textarea {
  resize: vertical;
}

.task-container__task-item p {
  font-size: 1.5rem;
  font-weight: 700;
}

.task-item__created-time {
  font-size: 1rem;
  color: #bbbdd0;
  display: block;
}

.task-item__edit-input,
.task-item__input {
  font-size: 16px;
  height: 5rem;
  width: 95%;
  border: 0.0625rem solid var(--secondary-color);
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem;
}

textarea:focus {
  outline: none;
  border-color: #7a8dfd;
  box-shadow: 0 0 5px rgba(122, 141, 253, 0.5);
}

.task-item__done {
  text-decoration: line-through #0bc375;
  color: #0bc375;
}

.task-item__completion-badge {
  border-radius: 0.25rem;
  color: #ffffff;
  text-align: left;
  font-size: medium;
  background-color: #7a8dfd;
  padding: 0.5rem;
}

.task-item__button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.task-item__button {
  font-size: 1rem;
  border: 0.0625rem solid var(--secondary-color);
  background-color: #ffffff;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  color: #32394b;
}
.task-item__button-icon {
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (max-width: 425px) {
  header {
    padding: 0 1rem;
  }

  .header__branding {
    width: 5rem;
  }
  .branding__logo svg {
    width: 1.4rem;
  }

  .branding__title {
    font-size: 1.4rem;
  }

  .task-container {
    padding: 0 1rem;
  }

  .task-container__heading {
    font-size: 1rem;
  }

  .task-container__add-button {
    width: 4.8rem;
    font-size: 0.85rem;
    padding: 0.4rem 0.9rem;
  }

  .task-container__add-button svg {
    width: 0.75rem;
  }

  .task-container__task-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .show-search-box .search__box input {
    width: 75%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    padding: 0 2rem;
  }

  .header__branding {
    width: 6.5rem;
  }

  .branding__title {
    font-size: 1.5rem;
  }

  .task-container {
    padding: 0 2rem;
  }

  .task-container__heading {
    font-size: 1.2rem;
  }

  #filter {
    font-size: medium;
  }

  .task-container__task-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header__branding {
    width: 8rem;
  }
  .branding__title {
    font-size: 2rem;
  }

  .task-container__heading {
    font-size: 1.5rem;
  }

  .task-container__task-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
