body {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  margin: 64px 24px;
  font-size: large;
}

body h1 {
  text-align: center;
}

.addButtonStyle {
  margin: 8px;
  background-color: #4eaeef;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButtonStyle:hover {
  background-color: #2280be;
}

.deleteButtonStyle {
  margin: 8px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f44d41;
}

.deleteButtonStyle:hover {
  background-color: #fa1707;
}

.editButtonStyle {
  margin: 8px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #efcf00;
}

.editButtonStyle:hover {
  background-color: #d9bc02;
}

.doneButtonStyle {
  margin: 8px;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #63b174;
}

.doneButtonStyle:hover {
  background-color: #519860;
}

.errorText {
  color: red;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#searchButton {
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #000000;
}

input[type="text"] {
  padding: 3px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}
input[type="checkbox"] {
  margin-right: 12px;
}

.filter-container {
  display: flex;
  justify-content: end;
}

.search-container {
  text-align: center;
  margin: 32px 0;
}

#filter {
  width: 15%;
}
.listItem {
  display: flex;
  align-items: center;
}
